body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
    color: black;
}

/* HEADER */
header {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}

/* NAV */
nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
    border-bottom: 1px solid black;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* MAIN */
main {
    padding: 40px;
    text-align: center;
}

/* SECTIONS */
section {
    margin: 40px 0;
}

/* PRODUCT CARDS */
.products {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    border: 2px solid black;
    padding: 30px;
    width: 200px;
    transition: 0.3s;
}

.card:hover {
    background: black;
    color: white;
    transform: scale(1.05);
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid black;
}

button {
    background: black;
    color: white;
    padding: 10px;
    border: none;
}

/* FOOTER */
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}